# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\AI_git_item\TensorRT-LLM\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
